<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club 55</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #22275B !important;
            overflow: hidden;
        }
        .splash-image {
            width: 100%; /* Adjust this value as needed */
            height: auto;
            align: center;
            animation: neonGlow 2.5s infinite alternate;
        }

        @keyframes neonGlow {
            from {
                filter: drop-shadow(0 0 10px rgba(0, 0, 205, 0.3))
                        drop-shadow(0 0 20px rgba(0, 0, 205, 0.3))
                        drop-shadow(0 0 30px rgba(0, 0, 205, 0.3))
                        drop-shadow(0 0 40px rgba(0, 0, 205, 0.3));
            }
            to {
                filter: drop-shadow(0 0 10px rgba(0, 0, 205, 1))
                        drop-shadow(0 0 20px rgba(0, 0, 205, 1))
                        drop-shadow(0 0 30px rgba(0, 0, 205, 1))
                        drop-shadow(0 0 40px rgba(0, 0, 205, 1));
            }
        }
    </style>
</head>
<body>
    <img src="https://i.postimg.cc/5ypF4j2V/Designer-removebg-preview.png" alt="Splash Screen Image" class="splash-image">
    
    <script>
        setTimeout(function(){
            window.location.href = "/home";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html>
